<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spagreen.linphonesdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:usesCleartextTraffic="true">

        <service
            android:name="org.linphone.core.tools.service.CoreService"
            android:foregroundServiceType="phoneCall|microphone"
            android:enabled="false"
            android:stopWithTask="false" />

        <!-- BroadcastReceiver for handling incoming call notification actions -->
        <receiver
            android:name=".CallActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.spagreen.linphonesdk.ACTION_ANSWER_CALL" />
                <action android:name="com.spagreen.linphonesdk.ACTION_DECLINE_CALL" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
